/* Necessary for alignment of labels with input fields */
.input-form label, .filter-area input {
  display: inline-block;
}
.input-form label {
  width: 120px;
}

#create-line-name {
	width: 300px;
}